<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>За Нас</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Кафе-сладкарница ЕНАлекс е уютно място в Благоевград, където можете да се насладите на едни от най-вкусните торти и кафе в града. 
        </p>
      </div>
      <div class="col-lg-4">
        <p>Заповядайте при нас, за да се насладите на сладки изкушения и ароматно кафе в приятна обстановка.</p>
      </div>
    </div>
  </div>
</section>
